{% extends 'base.html.twig' %}

{% block body %}

coucou
        {#This friendly message is coming from:#}
        {#<ul>#}
            {#<li>Your controller at <code><a href="{{ 'src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>#}
            {#<li>Your template at <code><a href="{{ 'templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>#}
        {#</ul>#}

        {#INCLURE UN AUTRE TEMPLATE#}
        {#{% for article in articles %}#}
        {#{{ include('article/article_details.html.twig', { 'article': article }) }}#}
        {#{% endfor %}#}
        {#<div>#}
            {#{{ include('body/area/area.html.twig') }}#}
        {#</div>#}



{% endblock %}




